#main-slider
  .item
    background-position center
    background-size cover

#services
  width 100vw
  height 100vh
  overflow hidden
  -webkit-perspective: 1000;
  perspective: 1000;
  
  .services-list
    list-style: none; 
    
    display:flex; 
    align-items:center; 
    justify-content: center;
  
    li
      margin 10px
      padding 10px

  #service-slides
    width 300%
    height 100%
    
    .service
      height 100%
      width 33.3%
      float left
      
      background rgb(103, 0, 0)
      background-size cover
      
      h3, h4, p
        color white

      &.non-destructive
        // background url('../images/ndt/pop/Non-Destructive-Testing-Courses_55773_image3.jpg')
        background-image url("../images/ndt/new/optimized/services/ndt/optimized-4.JPG")
        background-position 40% 10%
        
      &.heat-treatment
        background-image url("../images/ndt/new/optimized/services/heat/optimized-5.JPG");
        background-position 40% 10%
        
      &.sand-blasting
        background-image url("../images/ndt/new/optimized/services/sand/optimized-7.JPG")
        background-position 40% 10
        

#cta2
  background-image url(../images/ndt/new/optimized/clients/cta2.JPG)
  
#animated-number
  background-image url(../images/ndt/new/optimized/facts/bg.JPG)
  
#testimonial
  background-image url(../images/ndt/new/optimized/quotes/optimized-8.JPG)
  background-position center